{% extends 'base.html.twig' %}

{% block title %}Mes Adresses - Product Amp{% endblock %}

{% block content %}
    
    <br/>
    <h1 class="text-center">Mes Adresses </h1>
    <br/>
   <p class="text-center"> C'est dans cet espace que vous allez pouvoir gérer toutes vos adresses.</p><br/>
    <br/>
    <div class="row">
        <div class="col-md-3">
            <a href="{{path('account_address')}}" class="btn item-box-btn btn-black display-4 btn-sm ">Retour</a>
        </div>
        <div class="col-md-3"></div>
        <div class="col-md-3"></div>
        <div class="col-md-3">
            <a href="{{path('account_address_add')}}" class="btn item-box-btn btn-black display-4 btn-sm ">Ajouter une adresse</a>
            <br/>
        </div>
    </div>
<hr>
    {% if app.user.adresses | length == 0 %}
        <p class="text-center">Vous n'avez pas encore ajouter de nouvelles adresses dans votre compte client. Si vous souhaitez en ajouter une, veuillez <a href="">cliquer ici</a></p>
    {% else %}
        <div class="row">
        {% for adresse in app.user.adresses %}
            <div class="col-md-4">
                <div class="card" style="width: 18rem;">
                    <div class="card-body">
                        <h5 class="card-title">{{adresse.name}}</h5>
                        <br/>
                        <p class="card-text">{{adresse.adresse}}</p>
                        {{adresse.codepostal}} - {{adresse.ville}} - {{adresse.pays}}
                        </p>
                        <a href="{{path('account_address_edit',{'id':adresse.id})}}">Modifier</a> | <a href="{{path('account_address_delete',{'id':adresse.id})}}">Supprimer</a>
                    </div>
                </div>
            </div>
        {% endfor %}
    </div>
    {% endif %}
{% endblock %}