{% extends 'base.html.twig' %}

{% block title %}Valider ma commande - Productamp{% endblock %}

{% block content %}
    <h3>Je passe ma commande</h3>
    <hr>
    <div class="row">
        <div class="col-md-6">
            {% set formhtml %}
                {{form(form)}}
            {% endset %}
            {{ formhtml|replace({'[br]' : '</br>'})|raw}}
        </div>
        <div class="col-md-6">
            <b>Récapitulatif de ma commande</b><br/>
            <br/>
            
            {% for product in cart %}
                <div class="row">
                    <div class="col">
                        {{product.product.name}}
                    </div>
                    <div class="col">
                        {{product.quantity}}
                    </div>
                    <div  class="col">
                        {{(product.product.price / 100)|number_format(2,',','.')}}€
                    </div>
                    <div class="col">
                        {{(product.product.price * product.quantity / 100)|number_format(2,',','.')}}€
                    </div>
                </div>
                        
                 
            {% endfor %}
        </div>        
{% endblock %}
